MAIN/WAF_01/New folder/
MAIN/testFile 2.txt
MAIN/WAF_02/WAF_Animation_02.swf
MAIN/WAF_02/Thumbnail/
MAIN/WAF_02/CUT/
MAIN/WAF_01/Shorts/
MAIN/WAF_03/WAF_Animation_03.swf
MAIN/WAF_03/CUT/
MAIN/WAF_03/thumbnail/